In [18]:
import pandas as pd
file = 'reg_pbp_2019.csv'

In [19]:
df = pd.read_csv(file, encoding="ISO-8859-1")

C:\Users\anesbit\Documents\Conda_Install\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (167,168,169,170,175,176,179,180,183,184,189,190,191,192,195,196,204,205,206,219,220,221,222,223,224,227,228,232,233,234,239,241,242) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
# preview all play by play data
df.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,35,2019090500,CHI,GB,GB,away,CHI,CHI,35.0,2019-09-05,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
1,50,2019090500,CHI,GB,GB,away,CHI,GB,75.0,2019-09-05,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
2,71,2019090500,CHI,GB,GB,away,CHI,GB,75.0,2019-09-05,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,95,2019090500,CHI,GB,GB,away,CHI,GB,75.0,2019-09-05,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
4,125,2019090500,CHI,GB,GB,away,CHI,GB,85.0,2019-09-05,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0

In [21]:
# narrow down to four columns
new_df = df[["game_id", "posteam", "game_date","ep","epa"]]

In [22]:
new_df.head()

      game_id posteam   game_date        ep       epa
0  2019090500      GB  2019-09-05  0.814998  0.000000
1  2019090500      GB  2019-09-05  0.814998 -0.764363
2  2019090500      GB  2019-09-05  0.050636 -0.987734
3  2019090500      GB  2019-09-05 -0.937099 -2.221273
4  2019090500      GB  2019-09-05 -3.158372  0.714739

In [23]:
# narrow down to just KC Chiefs
kc_df = new_df[new_df['posteam'] == 'KC']

In [24]:
kc_df.head()

         game_id posteam   game_date        ep       epa
1073  2019090802      KC  2019-09-08  0.814998  0.001187
1074  2019090802      KC  2019-09-08  0.816185 -0.909412
1075  2019090802      KC  2019-09-08 -0.093227  0.609612
1076  2019090802      KC  2019-09-08  0.516385  6.483615
1077  2019090802      KC  2019-09-08  0.931115  0.068885

In [30]:
# viewing total plays for each gameid

kc_df['game_id'].value_counts()

2019111007    102
2019120811     96
2019091510     91
2019092903     90
2019092204     87
2019111800     87
2019090802     87
2019122214     82
2019110303     81
2019120105     78
2019121504     77
2019102712     75
2019100612     75
2019101700     75
2019101304     70
2019122908     65
Name: game_id, dtype: int64

In [34]:
grouped_kc = kc_df.groupby(['game_id'])

In [35]:
print(grouped_kc)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002068FE6B390>

In [36]:
# viewing total EPA for each gameid

grouped_kc['epa'].sum()

game_id
2019090802    28.801525
2019091510    14.364990
2019092204    22.704070
2019092903     4.758597
2019100612    -3.505469
2019101304     3.589811
2019101700     0.412377
2019102712     6.418160
2019110303     6.321318
2019111007    11.079394
2019111800     2.865996
2019120105    15.898788
2019120811    -4.093171
2019121504    14.888874
2019122214    19.255271
2019122908    20.761271
Name: epa, dtype: float64

In [38]:
# convert to a dataframe
kcepa = pd.DataFrame(grouped_kc['epa'].sum())

In [39]:
print(kcepa)

                  epa
game_id
2019090802  28.801525
2019091510  14.364990
2019092204  22.704070
2019092903   4.758597
2019100612  -3.505469
2019101304   3.589811
2019101700   0.412377
2019102712   6.418160
2019110303   6.321318
2019111007  11.079394
2019111800   2.865996
2019120105  15.898788
2019120811  -4.093171
2019121504  14.888874
2019122214  19.255271
2019122908  20.761271

In [42]:
kcepa.to_csv("kcepa.csv")